* {
    margin: 0;
    padding : 0;
}
nav .fa
{
    display: none;
}
@media(max-width: 700px)
{
    .text-box h1
    {
    font-size: 20px;
    }
    .nav_links ul li
    {
   
    display: block;
    }

    .nav_links 
    {
    position: absolute;
    background: #f44436;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0 ;
    text-align: left;
    z-index: 2;
    }
  nav .fa
  {
    display: block;
    color: aliceblue;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }  
}
.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner.png');
background-size:cover;
background-position: center;
position: relative;
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
.nav_links
{
    flex: 1;
    text-align: right ;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding : 8px 12px ;
    position: relative;
}

.nav_links ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size:medium;
}

.nav_links ul li::after{
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    margin:auto;
    background: #f44333;
    transition: 0.5s;
}

.nav_links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    /* The transform property moves (or translates) an element along the X (horizontal) and Y (vertical) axes.centering elements*/
    /* translate(50%, 50%) → Moves element 50% right and 50% down (away from center) */
    /* translate(-50%, -50%) → Moves element 50% left and 50% up (perfectly centers it) */
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 20px;
    font-size: 18px;
}
.hero-btn
{   
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid #fff;
    padding: 10px 34px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.hero-btn:hover{
    transition: 1s;
    background: #f44436;
    border: 2px solid #f44436;
}


 /*-----------Course----------*/

 .course
 {
    width:100%;
     text-align: center;
     padding-top: 70px;
     margin: auto;

 h1{
    font-size: 36px; 
    font-weight: 400;
 }
 p{
    font-size: 14px;
    font-weight: 250;
    padding: 5px;
    line-height:16px ;
 }

  .row
  {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
   h3{
    font-style: italic;
    text-align: center;
    font-weight: 600;
    margin: 2px 10px 10px 10px;
   }
    
  }
  .course-col
  { padding: 10px 12px;
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-top: 15px;
    margin: 10px;
    transition: 0.5s;
    box-sizing: border-box;

  }

  .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
  }

@media(max-width:700px) {
    .row{
        flex-direction: column;

    }
    
}

}

/*----------Campus-------------*/
.campus{
    
    width: 85%;
    height: 85%;
    margin: auto;
    padding-top: 50px;
text-align: center;
}

h1{
    font-size: 36px; 
    font-weight: 400;
}
p{

    font-weight: 300;
}
.row{
    
    display: flex;
}
.campus-col{
    margin-top: 10px;
flex-basis: 40%;
border-radius: 8px;
margin-bottom: 30px;
position: relative;
overflow: hidden;
padding: 2px;

}
.campus-col img{
    width: 100%;
    display: block;
}
.layer
{ 
background: transparent;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: 2s;
}
.layer h3{
    font-size: 26px;
    font-weight: 500;
    width: 100% ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 2s;
}
.layer:hover
{
    text-align: center;
    background:rgba(225,0,0,0.4);
}
.layer:hover h3{
    bottom: 70%;
    opacity:1;

}
.campus-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
}


/*----------facilities-----------*/
.facilities{
    width: 95%;
    height: 85%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.facilities-col{
    padding-top: 50px;
flex-basis:40%;
border-radius:15px;
text-align: left;
padding: 15px;
margin-bottom: 5%;
}

.facilities-col img{
width: 100%;
border-radius: 15px;
}

.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    text-align: left;
    margin: 5px 0px 5px 0px;
}

/*---------------Testimonials------------------*/

.testimonials{
     
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.testimonials-col{
    margin: 40px 20px 10px 20px ;
    background: #fff3f3;
    display: flex;
    border-radius:10px ;
    text-align: left;
    padding: 20px; 
    cursor: pointer;
    flex-basis: 60%;
    margin-bottom: 5%;
}
.testimonials-col .fa-solid {
    color: #f44436;
}

.testimonials-col img{
    width: auto;
    height: 40px;
    border-radius: 60%;
    margin-left: 5px;
    margin-right: 15px;

}

.testimonials-col p{
    font-weight: 400;
    padding: 0;
}


.testimonials-col h3{
    font-size: 22px; 
    font-weight: 500;
     text-align: left;
     margin-top: 20px;
     font-style: italic;
     font-display: fallback;
}

@media(max-width:700px)
{
    .testimonials-col img{
    
    
    margin-left: 5px;
    margin-right: 15px;

}
}

/*-------Call to action-----*/
.cta{
margin: 40px auto;
width: 95%;
background-image: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("images/banner.png");
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;

}

.cta h1{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 20px;
}
@media(max-width:700px)
{
    .cta h1{
        font-size: 20px;
    }

}


/*----------------Footer------------*/
.footer{
    margin-top: 20px;
    text-align: center;
    padding: 30px;

}
.footer h4{
    font-size: 35px;
   
    margin-top: 10px;
    font-weight: 300;
}
.footer p{
    font-weight: 200;
    padding-left: 80px ;
    padding-right: 80px ; 
    padding-top: 20px;
    padding-bottom: 20px;   
    font-size: 20px;
}
.icons .fa-brands{
    color: #f44436;
    margin: 0 3px ;
}
.fa-heart{

    color: #f44436;

}


/*------------------------------------About us Page-------------------------------------*/

.Sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
background-position: center;
background-size: cover;
text-align: center;
}
.Sub-header h1{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 80px;
}

.about-us{
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-col{
    flex-basis: 50%;
    padding: 30px 2px;

}

.about-col img{
    width: 100%;
    border-radius: 30px;
}
.about-col h1{
    padding: 0px;

}
.about-col p{
    padding:15px 0;
}
.redbtn{
    background-color: black;

}
